.comment1 {
    position: absolute;
    right: -100%;
}

.comment2 {
    position: absolute;
    top: 8%;
    right: -100%;
}

.comment3 {
    position: absolute;
    top: 16%;
    right: -100%;
}
.comment4 {
    position: absolute;
    top: 24%;
    right: -100%;
}
.comment5{
    position: absolute;
    top: 32%;
    right: -100%;
}
.comment6{
    position: absolute;
    top: 40%;
    right: -100%;
}
.comment7{
    position: absolute;
    top: 48%;
    right: -100%;
}
.comment8{
    position: absolute;
    top: 56%;
    right: -100%;
}
.comment9{
    position: absolute;
    top: 64%;
    right: -100%;
}.comment0{
     position: absolute;
     top: 72%;
     right: -100%;
 }

